$baseGreyText: #999999;
$lightGreyText: #cccccc;
$baseBlackText: #333333;
$lightGreyBorder: #e5e5e5; 
$navLinkActive: #fce38a;
$baseBlueBg: #95e1d3;
$baseRed: #f38181;

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: $baseGreyText;
}

*,
*::before,
*::after
 {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
}

hr {
    display: block;
    margin: 35px 0;
    height: 1px;
    border: 0;  
    background-color: $lightGreyBorder;
}

/* Container */

.container {
    width: 100%;
    max-width: 1215px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
    background: url(../img/banner.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    &__inner {
        width: 880px;
        margin: 0 auto;
        
        text-align: center;
    }

    &__title {
        font-size: 130px;
        line-height: 130px;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;

        &::after {
            content: "";
            display: block;
            width: 60px;
            height: 4px;
            margin: 10px auto 20px;
        
            background-color: #ffffff;
        }
    }

    &__subtitle {
        margin-bottom: 10px;
        font-size: 72px;
        color: #ffffff;
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
    }
}

/* Header */

.header {
     width: 100%;

     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;

     padding-top: 30px;

    &__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 30px;
        color: #ffffff;
        font-weight: 700;
    }
 }


 /* Nav */

 .nav {
    width: 52%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: uppercase;

    &__link {   
        position: relative;
    
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
        
        color: #ffffff;
        text-decoration: none;
    
        transition: color .2s linear;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            
            opacity: 0;       
            background-color: $navLinkActive;
       
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 1;
       
            transition: opacity .2s linear;       
        }

        &--active {
            color: $navLinkActive;
            &::after {
                opacity: 1;
            }
        }

        &:hover {
            color: $navLinkActive;
            &::after {
                opacity: 1;
            }
        }
     }  
 }

 /* Button */

 .btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
     
    border: 3px solid#fff;

    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700; 
    text-decoration: none;

    transition: background-color .1s linear, 
                color .1s linear;

    &:hover {
        background-color: #ffffff;
        color: #333333;
    }
 }

 /* Slider */ 

 .slider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;    
    }
    &__num {
        margin-right: 3px;
        font-size: 24px;
        font-weight: 700;
    }
     &__item {
        width: 24%;
        padding: 10px 0 0 0;
        position: relative;
    
        border-top: 3px solid #fff;
    
        font-size: 18px;
        color: #ffffff;
        text-transform: uppercase;
    
        opacity: 0.7;
        &--active {
            opacity: 1;           

            &::before {
                content: "";
                display: block;
                width: 70px;
                height: 3px;
                background-color: $baseRed;
           
                position: absolute;
                top: -3px;
                left: 0;
                z-index: 1;        
            }
        }
     }
 }


 /* Section */

 .section {
     padding: 110px 0;

     &--devices {
        padding-bottom: 0;
        background: url(../img/devices/bg.jpg) center no-repeat;
        background-size: cover;
     }

     &--statistics {
        padding: 45px 0;
        background-color: $baseBlueBg;
    }

     &--grey {
         padding: 70px 0;
         background-color: #f8f8f8;
     }
     &--gallery {
         padding-bottom: 0;
     }
     &--clients {
        background: url(../img/clients/bg.jpg) center no-repeat;
        background-size: cover;
     }
     &--map {
        padding: 70px 0 70px;
        background: url(../img/map/map.jpg) center no-repeat;
        background-size: cover;
     }

     &__header {
        margin: 0 auto 60px;
        max-width: 950px;
        width: 100%;
   
        text-align: center;
    }

    &__subtitle {
        color: #333;
        font-family: "Kaushan Script", cursive;
        font-size: 24px;
    }

    &__title {
        font-size: 30px;
        color: #333;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
     }

     &__title::after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        margin: 30px auto 30px;
        
        background-color: $baseRed;
    }
    &__text {
        font-size: 15px;
        font-family: "Roboto";
        font-weight: 400;
     }
 }


 .card {
     margin-top: 80px;
     display: flex;
     justify-content: space-between;

     &__inner {
        width: 380px;
        background-color: $baseBlueBg;
        position: relative;
        &:hover {
            .card__img {
                transform: translate3d(-10px, -10px, 0);  
                img {
                    opacity: 0.1; 
                 }
            }  
            .card__text {           
                opacity: 1; 
            }         
        }
    }    
    &__img {
        background: linear-gradient(to bottom, #e1cb7b,  #da7373);
        transition: transform .2s linear;
    }
    &__img  { 
        img {
        display: block;
        transition: opacity .1s linear;
        }        
    }
    &__text {
        width: 100%;
        position: absolute;
        top: 47%;
        left: -10px;
        transform: translate3d(0, -47%, 0);
        z-index: 2;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        opacity: 0;
        text-transform: uppercase;
    
        transition: opacity .2s linear;
    }

    &__info {
        text-align: center;
        margin: 30px;
    }

    &__name {
        margin-bottom: 10px;
        font-size: 14px;
        color: $baseBlackText;
        text-transform: uppercase;
    }

    &__prof {
        font-size: 15px;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 300;
        color: $baseGreyText;
    }

 }

 

/* Statistics */

.stat {
    display: flex;

    &__item {
        flex: 1 1 0;
        padding: 25px;
    
        border-left: 1px solid #b5eae0;
    
        color: #fff;
        text-align: center;

        &:last-child {
            border-right: 1px solid #b5eae0;
        }
    }

    &__count {
        margin-bottom: 10px;
        font-size: 72px;
        font-weight: 700;
        line-height: 1;
    
    }

    &__text {
        font-size: 14px;
    
        text-transform: uppercase;
    
    }
}

/* Services */

.services {
    display: flex;

    &__item {
        flex: 1 1 0;
        position: relative;
        padding-left: 85px;
        padding-right: 20px;
    }

    &__icon {
        position: absolute;
        top: 2px;
        left: 28px;
        z-index: 1;
    }

    &__title {
        margin-bottom: 10px;
        font-size: 14px;
        color: #333;
        text-transform: uppercase;
    }

    &__text {
        font-family: "Roboto", sans-serif;
    }
}

//  Devices 

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;    
    position: relative;

    &__tablet {    
        display: block;
    }

    &__iphone {
        display: block;    
        position: absolute;
        bottom: -90px;
        right: 0;
        z-index: 1;
    }
}

/* Section We-Do */

.we-do {
    display:flex;
    
    &__item {
        flex: 1 1 0;

        &:first-child {    
            margin-right: 30px;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }
}

/*  Accordion */

.accordion {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    &__item {
        border: 1px solid $lightGreyBorder;  
        
        &:last-child {
            margin-bottom: 0;    
        }

        &--active 
        .accordion__content {
            display: block;
        }

        &--active 
        .accordion__header {        
            border-bottom: 1px solid $lightGreyBorder;
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &__content {
        display: none;
        padding: 15px 20px;
        font-family: "Roboto";
        font-style: italic;
    }

    &__header {
        position: relative;
        padding: 15px 20px 15px 65px;    
        cursor: pointer;

        &::after {
            content: "";
            display: block;
            width: 22px;
            height: 17px;
            position: absolute;
            top: 50%;
            right: 20px;    
            z-index: 1;
            transform: translateY(-50%);
            
            background: url(../img/we-do/arrow.svg) no-repeat;             
        }
    }   
    
    &__title {
        font-size: 14px;
        color: #333333;
        text-transform: uppercase; 
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 20px;
        z-index: 1;
        transform: translateY(-50%);
    }
    
}

// Reviews 

.reviews {
    padding: 0 110px;
    position: relative; 

    &__btn {
        display: block;
        width: 22px;
        height: 17px;
        position: absolute;
        top: 50%; 
        z-index: 1;
        transform: translateY(-50%);
        
        background: url(../img/we-do/arrow.svg) no-repeat;    
        
        &--next {
            right: 20px;
            transform:  rotate(90deg);
        }

        &--prev {
            left: 20px;
            transform:  rotate(270deg);
        }
    }

    &__item {        
        position: relative;
        padding-left: 205px;
    }

    &__photo {
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
        display: block;
        padding: 40px;

        border: 3px solid $baseBlueBg;

        &--round {            
            padding: 0;
            border-radius: 50%;
            border: none;
            top: -30px;
            left: -30px;
        }
    }
    &__text {
        margin-bottom: 15px;
        font-size: 24px;
        color: $baseGreyText;
        font-family: "Roboto";
        font-weight: 300;
        font-style: italic;
    }
    &__author {
        font-size: 24px;
        color: $baseBlackText;
        font-family: "Kaushan Script";

        &::before {
            content: "";
            display: inline-block;
            width: 60px;
            height: 3px;
            vertical-align: middle;
            margin-right: 10px;
                
            background-color: $baseRed;
        }
    }
}

.social {
    display: flex;
    justify-content: center;

    &__item {
        display: block;
        padding: 13px;
        width: 55px;
        height: 55px;
        background-color: #fce38a;
        text-decoration: none;

        border-right: 1px solid #f9bd87;
        transition: background .1s linear;

        &:last-child {
            border:none;
        }

        svg {     
            margin: auto;
            vertical-align: middle;           
            fill: $baseRed;
            
            transition: fill .1s linear;
        } 

        &:hover {
           background-color: $baseRed;

           svg {                
            fill: #ffffff;
        }      
        }
    }
}

// Works 

.works {  
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "a b c d"
    "e f c g";    
    &__img {
        display: block;
        max-width: 100%;
        height: auto;
        transition: opacity .2s linear;
    }
    &__item {      
        position: relative;
        background: linear-gradient(to bottom, #e1cb7b,  #da7373);
        
        &:hover  
        .works__img {
            opacity: 0.1; 
         }
        &:hover .works__desc {
            opacity: 1;
        }

        &--1 {
            grid-area: a;
        }
        &--2 {
            grid-area: b;
        }
        &--3 {
            grid-area: c;
        }
        &--4 {
            grid-area: d;
        }
        &--5 {
            grid-area: e;
        }
        &--6 {
            grid-area: f;
        }
        &--7 {
            grid-area: g;
        }
    } 
    
    &__desc {
        width: 100%;
        padding: 15px;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        text-align: center;
        color: #ffffff;

        transform: translateY(-50%);
        opacity: 0;
        transition: opacity .2s linear;

        &::before {
            content: "";
            display: block;
            height: 30px;
            width: 30px;
            background: url(../img/we-do/photography.svg) no-repeat;
            background-size: 30px;
            filter: brightness(100);
            margin: 0 auto 10px auto;
        }
    }

    &__title {
        margin-bottom: 5px;
        font-size: 14px;
        text-transform: uppercase;
    }

    &__text {
        font-family: "Roboto";
        font-weight: 300;
        font-style: italic;
    }
}

// Clients 

.clients {  
    display: flex;
    flex-wrap: wrap;
    color: $baseBlackText;

    &__item {        
        position: relative;  
        padding: 0 40px 0 180px;
        margin: 40px 0;
        width: 50%;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 40px;
        z-index: 1;
        border-radius: 50%;
    }
    &__name {
        margin-bottom: 15px;
        font-size: 14px;
        text-transform: uppercase;
    }

    &__prof {
        font-size: 15px;
        font-family: "Roboto";
        font-weight: 300;
        font-style: italic;

        &::after {
            content: "";
            display: block;            
            margin: 15px 0 20px 0;
            height: 3px;
            width: 60px;
            background-color: $baseRed;
        }
    }

    &__desc {
        font-family: "Roboto";
        font-weight: 400;
        color: $baseGreyText;
    }
}

// Blog

.blog {
    display: flex;
    justify-content: space-between;
    &__item {
        width: 31.5%;
    }
    &__img {
        display: block;
        width: 100%;
    }
    &__header {
        position: relative;
    }
    &__date {
        position: absolute;
        width: 60px;
        height: 70px;
        left: -10px;
        bottom: 10px;
        padding: 14px;

        background-color: $baseBlueBg;

        color: #ffffff;
        text-align: center;        
        line-height: 1;
    }
    &__day {     
          
        font-size: 30px;
        font-weight: 700;
    }
    &__month {        
        font-size: 14px;
        font-family: 'Roboto';
        font-style: italic;
    }
    &__content {
        margin-top: 20px;
    }
    &__title {
        font-size: 14px;
        color: $baseBlackText;
        text-transform: uppercase;
        text-decoration: none;
        &:active {
            color: $baseBlackText; 
        }
        &:hover{
            text-decoration: underline;
        }
    }
    &__text {
        margin-top: 10px;
        font-family: "Roboto";
        font-weight: 400;
    }
    &__statistics {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid $lightGreyBorder;
        font-family: "Roboto";
        font-weight: 400;
        font-style: italic;
        line-height: 1;
    }
    &__views {
        position: relative;
        padding-left: 25px;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: block;
            width: 20px;
            height: 15px;
            background-image: url(../img/blog/view.svg);
        }
    }
    &__comments {
        position: relative;
        margin-left: 20px;
        padding-left: 25px;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: block;
            width: 20px;
            height: 15px;
            background-image: url(../img/blog/bubble.svg);
        }
    }

  

}

// Map 

.map {
    background-image: url(../img/map/map.jpg) cover no-repeat;

    &__header {
        text-align: center;
        text-transform: uppercase;
        &::before {
            content: "";
            display: block;
            height: 26px;
            width: 20px;
            background: url(../img/map/pin.svg) no-repeat;
            margin: 0 auto 20px auto;
        }
        &::after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            margin: 20px auto 0;
            
            background-color: $baseRed;
        }
        
    }
    &__title {
        line-height: 1;
        font-size: 24px;
        font-weight: 700;        
        color: $baseRed;    
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

// Footer

.footer {
    padding-top: 65px;
    background-color: #f8f8f8;
    &__inner {     
        padding-bottom: 70px;
        display: flex;
        justify-content: space-between;
    }
    &__col {
        height: 100%;
        &--1 {
            width: 47%;
        }
        &--2 {
            width: 30%;
        }
        &--3 {
            width: 22.8%;
        }
    }
    &__logo {
        font-size: 46px;
        margin-bottom: 30px;
        line-height: 1;
        color: $lightGreyText;
        font-weight: 700;
    }
    &__text {        
        margin-bottom: 30px;
        font-family: "Roboto";
        font-weight: 400;
    }
    &__social {
        padding-bottom: 35px;
        color: $baseBlackText;
        &--header {
            width: 100%;
            padding-bottom: 20px;
            border-bottom: 1px solid $lightGreyBorder;
            font-size: 14px;
            strong {
                font-size: 18px;
                font-weight: 700;
            }
        }
        &--content {            
            display: flex;
            align-items: center;            
            padding-top: 20px;
            font-family: "Roboto";
            font-weight: 300;
            font-style: italic;
            color: $baseGreyText;
        }
        &--icons {
            margin-left: 20px;
            width: 220px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__title {
        margin-bottom: 40px;
        font-size: 14px;
        color: $baseBlackText;
        text-transform: uppercase;
        line-height: 1;
    }
}

// Subscribe 

.subscribe {
    display: flex;
    width: 100%;
    max-width: 380px;
    &__input {
        height: 40px;
        width: 60%;
        padding: 12px;
        border: 1px solid $lightGreyBorder;
        border-right: none;
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 300;
        color: $baseBlackText;
        line-height: 1.1;
        font-style: italic;
        &::placeholder {
            color: $lightGreyText;
        }
        &:focus {
            outline: none;
            border-color: $baseBlueBg;
        }
    }
    &__btn {
        height: 40px;        
        width: 40%;
        padding: 12px 30px;
        font-size: 14px;
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        background-color: $baseBlueBg;
        border: none;
        cursor: pointer;
        transition: background-color .1 linear;
        &:hover {
            background-color: #95e1d3d5; 
        }
        &:focus {
            outline: none;
        }
    }
}

//  Blogs

.blogs    { 
    &__item{ 
        margin-bottom: 30px;       
        display: flex;
        align-items: center;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__content {
        padding-left: 20px
    }
    &__title {
        font-size: 12px;
        color: $baseBlackText;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 0;
        &:hover {
            text-decoration: underline;
        }        
    }
    &__date {
        font-size: 13px;
        color: $baseGreyText;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
    }
}

// Instagram 

.instagram {
    display: flex;    
    flex-wrap: wrap;
    &__item {
        flex: 1 1 0;
        border: 1px solid #ffffff;
    }
    &__img {
        display: block;
    }
    &__more {
        margin-top: 20px;
        font-size: 13px;
        color: $baseBlackText;
        font-family: "Roboto";
        font-weight: 300;
        font-style: italic;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

// Copyright 

.copyright {
    padding: 20px 0;
    font-size: 14px;
    color: $baseBlackText;
    line-height: 1;
    text-align: center;
    border-top: 1px solid $lightGreyBorder;
    &__link {
        color: $baseRed;
        text-decoration: none;
        :hover {
            text-decoration: underline;
        }
    }
}